Repository microsoft/v8-jsi: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/android-pr.yml, .ado/pull-request.yml

Path conditions:
  .ado/android-pr.yml: any of: android, .ado/android-pr.yml, .ado/android-build.yml
  .ado/pull-request.yml: any file but: android, .ado/android-pr.yml, .ado/android-build.yml, README.md, docs

Call globalInitializeTracing only once
  .ado/build-dll.yml
  .ado/pull-request.yml
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  src/V8JsiRuntime.cpp
Due: .ado/pull-request.yml

Address comment
  src/V8JsiRuntime.cpp
Due: .ado/pull-request.yml

Call globalInitializeTracing only once (#104)
  .ado/build-dll.yml
  .ado/pull-request.yml
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  src/V8JsiRuntime.cpp
Due: .ado/pull-request.yml

Add SBom Generation
  .ado/android-build.yml
  .ado/build-dll.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

Update target manifest location to be per matrix entry
  .ado/android-build.yml
  .ado/build-dll.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

testing
  .ado/android-build.yml
  .ado/build-dll.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

restore build
  .ado/android-build.yml
Due: .ado/android-pr.yml

Add SBom Generation (#105)
  .ado/android-build.yml
  .ado/build-dll.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

RN66
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
  android/jsi/CMakeLists.txt
  android/jsi/decorator.h
  android/jsi/instrumentation.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
  android/jsi/jsilib-posix.cpp
  android/jsi/test/testlib.cpp
  android/localbuild.sh
  android/scripts/build.sh
Due: .ado/android-pr.yml

fix: bump version
  README.md
  android/build.config
Due: .ado/android-pr.yml

RN66 (#108)
  README.md
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
  android/build.config
  android/jsi/CMakeLists.txt
  android/jsi/decorator.h
  android/jsi/instrumentation.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
  android/jsi/jsilib-posix.cpp
  android/jsi/test/testlib.cpp
  android/localbuild.sh
  android/scripts/build.sh
Due: .ado/android-pr.yml

Move to private pipeline
  .ado/android-build.yml
  .ado/android-ci.yml
  .ado/android-jobs.yml
  .ado/windows-build.yml
  .ado/windows-ci.yml
  .ado/windows-jobs.yml
  .ado/windows-pr.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

Udpate
  .ado/android-ci.yml
  .ado/android-pr.yml
  .ado/windows-ci.yml
  .ado/windows-pr.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

Deal with posix issues of not having newline at end of file
  .ado/android-build.yml
  .ado/android-ci.yml
  .ado/android-pr.yml
  .ado/pull-request.yml
  .ado/windows-build.yml
  .ado/windows-ci.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

Split pipelines into PR and CI so we can publish from private pipeline (#109)
  .ado/android-build.yml
  .ado/android-ci.yml
  .ado/android-jobs.yml
  .ado/android-pr.yml
  .ado/windows-build.yml
  .ado/windows-ci.yml
  .ado/windows-jobs.yml
  .ado/windows-pr.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

Fix typo in android pipeline
  .ado/android-ci.yml
  .ado/android-pr.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

Fix typo in android pipeline (#110)
  .ado/android-ci.yml
  .ado/android-pr.yml
Due: .ado/android-pr.yml, .ado/pull-request.yml

Update to V8 9.9
  .gitignore
  README.md
  config.json
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/public/NapiJsiRuntime.cpp
  src/public/compat.h
Due: .ado/pull-request.yml

Bump NuGet version
  config.json
Due: .ado/pull-request.yml

Update to V8 9.9
  config.json
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/public/NapiJsiRuntime.cpp
  src/public/compat.h
Due: .ado/pull-request.yml

Update to V8 9.9 (#113)
  config.json
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/public/NapiJsiRuntime.cpp
  src/public/compat.h
Due: .ado/pull-request.yml

Compliance fixes
  config.json
  scripts/build.ps1
  scripts/patch/build.diff
Due: .ado/pull-request.yml

Don't disable any warnings
  README.md
  scripts/fetch_code.ps1
  scripts/patch/build.diff
  scripts/patch/src.diff
  scripts/patch/zlib.diff
Due: .ado/pull-request.yml

Fix ARM64 build
  scripts/patch/build.diff
Due: .ado/pull-request.yml

v8windbg: link against correct flavor of comsuppw
  scripts/patch/src.diff
Due: .ado/pull-request.yml

[0.64] Update to V8 9.9 (#112)
  .gitignore
  README.md
  config.json
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/public/NapiJsiRuntime.cpp
  src/public/compat.h
Due: .ado/pull-request.yml

Compliance fixes (#114)
  README.md
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  scripts/patch/build.diff
  scripts/patch/src.diff
  scripts/patch/zlib.diff
Due: .ado/pull-request.yml

Make publish pipeline compliant
  .ado/android-build.yml
  .ado/android-ci.yml
  .ado/android-jobs.yml
  .ado/windows-build.yml
  .ado/windows-jobs.yml
  GuardianCustomConfiguration.json
Due: .ado/android-pr.yml, .ado/pull-request.yml

Make publish pipeline compliant (#111)
  .ado/android-build.yml
  .ado/android-ci.yml
  .ado/android-jobs.yml
  .ado/windows-build.yml
  .ado/windows-jobs.yml
  GuardianCustomConfiguration.json
Due: .ado/android-pr.yml, .ado/pull-request.yml

Fixing RN Blobs with V8-Jsi on Android. Our HostObject implementation had a bug when retrieving host object proxy while enumerating fields. It's already fixed in Windows implementation.
  android/V8Runtime_impl.h
Due: .ado/android-pr.yml

fix: bump version number
  android/build.config
Due: .ado/android-pr.yml

Remove unused code
  android/scripts/build.sh
  scripts/fetch_code.ps1
Due: .ado/android-pr.yml, .ado/pull-request.yml

Remove unused code (#115)
  android/scripts/build.sh
  scripts/fetch_code.ps1
Due: .ado/android-pr.yml, .ado/pull-request.yml

More dependency cleanup
  README.md
  android/scripts/build.sh
  scripts/fetch_code.ps1
Due: .ado/android-pr.yml, .ado/pull-request.yml

More dependency cleanup (#116)
  README.md
  android/scripts/build.sh
  scripts/fetch_code.ps1
Due: .ado/android-pr.yml, .ado/pull-request.yml
