Repository microsoft/v8-jsi: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/android-ci.yml, .ado/android-pr.yml, .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

.ado/android-ci.yml:
  name: v8jsi_droid_ci_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool: Azure-Pipelines-EO-Ubuntu18.04-Office
  jobs:
  - template: android-jobs.yml

.ado/android-pr.yml:
  name: v8jsi_droid_pr_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - template: android-jobs.yml

.ado/pull-request.yml:
  name: v8jsi_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool:
    vmImage: windows-2019
  jobs:
  - job: V8JsiBuild
    timeoutInMinutes: 210
    displayName: Build v8jsi.dll
    strategy:
      matrix:
        Desktop|x64|Debug:
          BuildConfiguration: Debug
          BuildPlatform: x64
          AppPlatform: win32
  ...

.ado/windows-ci.yml:
  name: v8jsi_win_ci_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool: OE-OfficePublic
  jobs:
  - template: windows-jobs.yml

.ado/windows-pr.yml:
  name: v8jsi_win_pr_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool:
    vmImage: windows-2019
  jobs:
  - template: windows-jobs.yml

Fix ARM64 build
  scripts/patch/src.diff
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.6 (#142)
  config.json
  scripts/patch/src.diff
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/inspector/inspector_agent.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.6
  config.json
  scripts/patch/src.diff
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/inspector/inspector_agent.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.6 (#143)
  config.json
  scripts/patch/src.diff
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/inspector/inspector_agent.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Clear any unhandled promise rejection while the runtime is still alive
  config.json
  src/V8JsiRuntime.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Clear any unhandled promise rejection while the runtime is still alive (#145)
  config.json
  src/V8JsiRuntime.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Clear any unhandled promise rejection while the runtime is still alive (#146)
  config.json
  src/V8JsiRuntime.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Multi threaded support
  config.json
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/napi/js_native_ext_api_v8.cpp
  src/public/V8JsiRuntime.h
  src/public/js_native_ext_api.h
  src/testmain.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Multithreading for napi
  src/napi/js_native_api_v8.h
  src/napi/js_native_ext_api_v8.cpp
  src/testmain.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Optional locker (no more dynamic allocs)
  src/V8JsiRuntime_impl.h
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Multi threaded support (#147)
  config.json
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/napi/js_native_api_v8.h
  src/napi/js_native_ext_api_v8.cpp
  src/public/V8JsiRuntime.h
  src/public/js_native_ext_api.h
  src/testmain.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to 0.70 JSI headers
  config.json
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/jsi/decorator.h
  src/jsi/jsi-inl.h
  src/jsi/jsi.cpp
  src/jsi/jsi.h
  src/jsi/test/testlib.cpp
  src/public/NapiJsiRuntime.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Revert the 10.7 update (needs more follow-up for ARM64)
  config.json
  src/jsi/README.md
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to 0.70 JSI headers (#148)
  config.json
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/jsi/README.md
  src/jsi/decorator.h
  src/jsi/jsi-inl.h
  src/jsi/jsi.cpp
  src/jsi/jsi.h
  src/jsi/test/testlib.cpp
  src/public/NapiJsiRuntime.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Remove v8build\v8\third_party\depot_tools\external_bin\gsutil to avoid cg alerts.
  scripts/fetch_code.ps1
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Remove v8build\v8\third_party\depot_tools\external_bin\gsutil to avoid cg alerts. (#149)
  scripts/fetch_code.ps1
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update README.md
  README.md
Due: none

Update README.md (#150)
  README.md
Due: none

Update to 0.71 JSI API (stubs only)
  config.json
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/jsi/JSIDynamic.cpp
  src/jsi/README.md
  src/jsi/decorator.h
  src/jsi/jsi-inl.h
  src/jsi/jsi.cpp
  src/jsi/jsi.h
  src/jsi/test/testlib.cpp
  src/public/NapiJsiRuntime.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to 0.71 JSI API (stubs only) (#151)
  config.json
  src/V8JsiRuntime.cpp
  src/V8JsiRuntime_impl.h
  src/jsi/JSIDynamic.cpp
  src/jsi/README.md
  src/jsi/decorator.h
  src/jsi/jsi-inl.h
  src/jsi/jsi.cpp
  src/jsi/jsi.h
  src/jsi/test/testlib.cpp
  src/public/NapiJsiRuntime.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

CG experiments.
  .ado/windows-build.yml
  scripts/fetch_code.ps1
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix task runner for Node-API
  config.json
  src/napi/js_native_ext_api_v8.cpp
  src/public/js_native_ext_api.h
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix task runner for Node-API (#153)
  config.json
  src/napi/js_native_ext_api_v8.cpp
  src/public/js_native_ext_api.h
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Add provenance details for V8
  scripts/fetch_code.ps1
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.9; also fix #156
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/BUILD.gn
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.9; also fix #156 (#157)
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/BUILD.gn
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.9
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/BUILD.gn
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.9 (#158)
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/BUILD.gn
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.9 (#159)
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/BUILD.gn
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Update to V8 10.9 (#160)
  config.json
  scripts/build.ps1
  scripts/fetch_code.ps1
  scripts/patch/src.diff
  src/BUILD.gn
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

copy over jsi headers from rn/0.69-stable
  android/build.config
  android/jsi/decorator.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
  android/jsi/jsilib.h
  android/jsi/test/testlib.cpp
Due: .ado/android-ci.yml, .ado/android-pr.yml

fix unimplemented method
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
Due: .ado/android-ci.yml, .ado/android-pr.yml

Bump android jsi to 0.69-stable headers (#161)
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
  android/build.config
  android/jsi/decorator.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
  android/jsi/jsilib.h
  android/jsi/test/testlib.cpp
Due: .ado/android-ci.yml, .ado/android-pr.yml

update ci agent to valid agent
  .ado/android-ci.yml
Due: .ado/android-ci.yml, .ado/android-pr.yml, .ado/pull-request.yml

update ci agent to valid agent (#162)
  .ado/android-ci.yml
Due: .ado/android-ci.yml, .ado/android-pr.yml, .ado/pull-request.yml

Path conditions:
  .ado/android-ci.yml: any of: android, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml
  .ado/android-pr.yml: any of: android, .ado/android-build.yml, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml
  .ado/pull-request.yml: any file but: android, .ado/android-pr.yml, .ado/android-build.yml, README.md, docs
  .ado/windows-ci.yml: any file but: android, .ado/android-build.yml, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml, README.md, docs
  .ado/windows-pr.yml: any file but: android, .ado/android-build.yml, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml, README.md, docs
