Repository microsoft/v8-jsi: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/android-ci.yml, .ado/android-pr.yml, .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

.ado/android-ci.yml:
  name: v8jsi_droid_ci_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool: Azure-Pipelines-EO-Ubuntu18.04-Office
  jobs:
  - template: android-jobs.yml

.ado/android-pr.yml:
  name: v8jsi_droid_pr_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - template: android-jobs.yml

.ado/pull-request.yml:
  name: v8jsi_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool:
    vmImage: windows-2019
  jobs:
  - job: V8JsiBuild
    timeoutInMinutes: 210
    displayName: Build v8jsi.dll
    strategy:
      matrix:
        Desktop|x64|Debug:
          BuildConfiguration: Debug
          BuildPlatform: x64
          AppPlatform: win32
  ...

.ado/windows-ci.yml:
  name: v8jsi_win_ci_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool: OE-OfficePublic
  jobs:
  - template: windows-jobs.yml

.ado/windows-pr.yml:
  name: v8jsi_win_pr_0.0.$(Date:yyMM.d)$(Rev:rrr)
  pool:
    vmImage: windows-2019
  jobs:
  - template: windows-jobs.yml

update ci agent to valid agent (#162)
  .ado/android-ci.yml
Due: .ado/android-ci.yml, .ado/android-pr.yml, .ado/pull-request.yml

Hardcode python to version 2.x and use ubuntu 20.04 for pr
  .ado/android-jobs.yml
  .ado/android-pr.yml
  android/build.config
  android/scripts/build.sh
Due: .ado/android-ci.yml, .ado/android-pr.yml, .ado/pull-request.yml

Hardcode python to version 2.x and use ubuntu 20.04 for pr (#164)
  .ado/android-jobs.yml
  .ado/android-pr.yml
  android/build.config
  android/scripts/build.sh
Due: .ado/android-ci.yml, .ado/android-pr.yml, .ado/pull-request.yml

Copy headers from 0.70-stable
  android/jsi/decorator.h
  android/jsi/jsi-inl.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
Due: .ado/android-ci.yml, .ado/android-pr.yml

Add bigInt support
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
Due: .ado/android-ci.yml, .ado/android-pr.yml

Update build.config
  android/build.config
Due: .ado/android-ci.yml, .ado/android-pr.yml

Use 0.70 jsi headers (#165)
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
  android/build.config
  android/jsi/decorator.h
  android/jsi/jsi-inl.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
Due: .ado/android-ci.yml, .ado/android-pr.yml

update jsi headers to 0.71-stable
  android/jsi/JSIDynamic.cpp
  android/jsi/decorator.h
  android/jsi/jsi-inl.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
Due: .ado/android-ci.yml, .ado/android-pr.yml

Implement new runtime apis
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
Due: .ado/android-ci.yml, .ado/android-pr.yml

address PR comments
  android/V8Runtime_shared.cpp
Due: .ado/android-ci.yml, .ado/android-pr.yml

Upgrade android jsi headers to 0.71-stable (#166)
  android/V8Runtime_impl.h
  android/V8Runtime_shared.cpp
  android/build.config
  android/jsi/JSIDynamic.cpp
  android/jsi/decorator.h
  android/jsi/jsi-inl.h
  android/jsi/jsi.cpp
  android/jsi/jsi.h
Due: .ado/android-ci.yml, .ado/android-pr.yml

Remove package.json and package-lock.json before build.
  scripts/fetch_code.ps1
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Remove package.json and package-lock.json before build. (#167)
  scripts/fetch_code.ps1
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix task runner for Node-API (#153)
  config.json
  src/napi/js_native_ext_api_v8.cpp
  src/public/js_native_ext_api.h
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Remove NAPI_EXTERN from js_native_ext_api_v8.cpp
  src/napi/js_native_ext_api_v8.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Format code
  src/napi/js_native_ext_api_v8.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

[0.70] Fix task runner for Node-API (#153) (#169)
  config.json
  src/napi/js_native_ext_api_v8.cpp
  src/public/js_native_ext_api.h
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix task runner for Node-API (#153) (#168)
  config.json
  src/napi/js_native_ext_api_v8.cpp
  src/public/js_native_ext_api.h
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix task runner for Node-API (#153) (#170)
  config.json
  src/napi/js_native_ext_api_v8.cpp
  src/public/js_native_ext_api.h
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix CI for VS 2022
  .ado/windows-build.yml
  .ado/windows-pr.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Change text of messages
  .ado/windows-build.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Increase job build timeout to 5 hours
  .ado/windows-jobs.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix CI pipelines (#171)
  .ado/windows-build.yml
  .ado/windows-jobs.yml
  .ado/windows-pr.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix CI pipelines (#171) (#174)
  .ado/windows-build.yml
  .ado/windows-jobs.yml
  .ado/windows-pr.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix CI pipelines (#171) (#173)
  .ado/windows-build.yml
  .ado/windows-jobs.yml
  .ado/windows-pr.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix CI pipelines (#171) (#172)
  .ado/windows-build.yml
  .ado/windows-jobs.yml
  .ado/windows-pr.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Fix config function names
  config.json
  src/BUILD.gn
  src/napi/js_native_api_v8.cc
  src/napi/test/napitest.h
  src/napi/test/test_basics.cpp
  src/napi/v8_api.cpp
  src/node-api-jsi/ApiLoaders/JSRuntimeApi.inc
  src/node-api-jsi/ApiLoaders/NodeApi.inc
  src/node-api-jsi/ApiLoaders/V8Api.cpp
  src/node-api-jsi/ApiLoaders/V8Api.h
  src/node-api-jsi/ApiLoaders/V8Api.inc
  src/node-api/.clang-format
  src/node-api/js_native_api.h
  src/node-api/js_native_api_types.h
  src/node-api/js_runtime_api.h
  src/public/v8_api.h
  src/testmain.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Add test test_basics_BigIntWords
  src/napi/test/test_basics.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Try fixing the PR build
  .ado/windows-build.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Another attempt to fix PR build
  .ado/windows-build.yml
  .ado/windows-ci.yml
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Disable test_basics_ExternalValue5Test that fails in x86
  src/napi/test/test_basics.cpp
Due: .ado/pull-request.yml, .ado/windows-ci.yml, .ado/windows-pr.yml

Path conditions:
  .ado/android-ci.yml: any of: android, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml
  .ado/android-pr.yml: any of: android, .ado/android-build.yml, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml
  .ado/pull-request.yml: any file but: android, .ado/android-pr.yml, .ado/android-build.yml, README.md, docs
  .ado/windows-ci.yml: any file but: android, .ado/android-build.yml, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml, README.md, docs
  .ado/windows-pr.yml: any file but: android, .ado/android-build.yml, .ado/android-ci.yml, .ado/android-jobs.yml, .ado/android-pr.yml, README.md, docs
